body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5c4df;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 4em;
    color: #d32f2f;
}

.gif_container img {
    width: 150%; 
    max-width: 550px; 
    height: auto; 
}
